@import "bootstrap/scss/bootstrap";


header img {
  max-height: 100px;
  width: auto;
}

.navbar-toggler {
  border: none;
}

.nav-link {
  font-weight: 500;
  @include transition(color, border-bottom);
}

.nav-link.active {
  color: #0b6fb8;
  font-weight: 600;
  border-bottom: 2px solid #0b6fb8;
}
