@import "bootstrap/scss/bootstrap";


.navbar-toggler {
  border: none;
}

.nav-link {
  font-weight: 500;
  @include transition(color, border-bottom);

  &.active {
    color: $blue;
    font-weight: 600;
    border-bottom: 2px solid $blue;
  }
}
