button {
  white-space: nowrap;
  cursor: pointer;
  border: none;
}

.btn-blue {
  background-color: $blue;
  color: #fff;
  font-weight: 600;
  @include transition(background-color, color);

  &:hover {
    background-color: $blue-dark;
    color: #fff;
  }
}
