@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as *;

/* ⚠️ PAS D’IMPORT BOOTSTRAP ICI */

.btn.btn-blue {
  background-color: v.$blue;
  color: #fff;
  font-weight: 600;
  border: none;

  @include transition(background-color, color);

  &:hover,
  &:focus {
    background-color: v.$blue-dark;
    color: #fff;
  }
}

button {
  white-space: nowrap;
  cursor: pointer;
}
