.header {
  background: $blue-dark;
  color: $white;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
  }

  &__logo img {
    height: 38px;
  }

  &__nav {
    display: flex;
    gap: 2rem;

    a {
      color: $white;
      text-decoration: none;
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
