.notfound-img {
  width: 100%;
  height: auto;
  max-width: 420px;
  display: block;
  margin: 0 auto;

  @media (max-width: 576px) {
    max-width: 260px;
  }

  @media (min-width: 577px) and (max-width: 991px) {
    max-width: 340px;
  }
}
