.bg-blue {
  background-color: $blue;
}

.bg-gray-light {
  background-color: $gray-light;
}

.mb-3 { margin-bottom: 1rem; }
.mb-4 { margin-bottom: 1.5rem; }

.py-3 { padding: 1rem 0; }
.py-4 { padding: 1.5rem 0; }
.py-5 { padding: 3rem 0; }
