// 1️⃣ Abstracts : variables, mixins, functions
@use 'abstracts/functions';
@use 'abstracts/variables' as *;
@use 'abstracts/mixins' as *;

// 2️⃣ Vendors : Bootstrap (UNIQUE import ici)

@use 'bootstrap/scss/bootstrap';
//@use 'vendors/bootstrap';

// 3️⃣ Base
@use 'base/base';
@use 'base/typography';
@use 'base/utilities';
@use 'base/reset';


// 4️⃣ Layout
@use 'layout/header';
@use 'layout/hero';
@use 'layout/navigation';

// 5️⃣ Components
@use 'components/buttons';
@use 'components/cards';
@use 'components/forms';

// 6️⃣ Pages
@use 'pages/home';
@use 'pages/notfound';


// themes
@use 'themes/default';
